<div class="form-group" [class]="col?'':'row'">
    <label [for]="fieldId" class="d-none d-sm-block col-form-label col-form-label-sm" [class]="col?'':'col-sm-3'">
        {{label}}<span *ngIf="validator?.required">*</span>
    </label>
    <div [class]="col?'':'col-sm-9'">
        <input [id]="fieldId" class="form-control form-control-sm" [formControl]="control" [ngbTypeahead]="search"
            [editable]='false' [resultFormatter]="formatter" [inputFormatter]="formatter" [placeholder]="label"  (selectItem)="onSelectItem($event)"/>
        <app-reactive-validation [validationErrors]="validationErrors" [name]="label"></app-reactive-validation>
    </div>
</div>