<div class="page-head">
    Loading List
</div>

<div class="container">
    <div class="row">
        <div class="col-12 mt-2">
            <form>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-filter"></i></div>
                            </div>
                            <input type="text" class="form-control" id="search" (keyup)="onSearch($event.target.value)"
                                placeholder="SR NO / Name / Phone">
                        </div>
                    </div>
                </div>
            </form>
            <table class="table table-striped border table-sm">
                <thead>
                    <tr>
                        <td colspan="6" class="form-head">
                            <div class="d-flex justify-content-between">
                                <div>Loading List </div>
                                <div class="form-head-link"><a routerLink="/dashboard/add-loading">Add Loading</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">S R No.</th>
                        <th scope="col">Date</th>
                        <th scope="col">Party</th>
                        <th scope="col">Agent</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="!searching; else searchResult">
                        <tr *ngFor="let loading of loadingPage;let i = index;">
                            <th scope="row">{{ i+1 }}</th>
                            <td> {{ loading.s_r_no }} </td>
                            <td> {{ loading.s_r_date.toMillis() | date:'dd/MM/yyyy' }} </td>
                            <td> {{ loading.customer.name }} </td>
                            <td> {{ loading.agent.name }} </td>
                            <td><a class="edit_link" [routerLink]="'/dashboard/add-loading/'+loading._id">Edit</a>
                                <a class="edit_link mx-2" (click)="onDetails(loading._id)">Details</a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #searchResult>
                        <tr *ngFor="let loading of loadingSearch;let i = index;">
                            <th scope="row">{{ i+1 }} QQ</th>
                            <td> {{ loading.s_r_no }} </td>
                            <td> {{ loading.s_r_date.toMillis() | date:'dd/MM/yyyy' }} </td>
                            <td> {{ loading.customer.name }} </td>
                            <td> {{ loading.agent.name }} </td>
                            <td><a class="edit_link" [routerLink]="'/dashboard/add-loading/'+loading._id">Edit</a>
                                <a class="edit_link mx-2" (click)="onDetails(loading._id)">Details</a>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="loadingList.length" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshLoading()">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="refreshLoading()">
                    <option [ngValue]="4">4/Page</option>
                    <option [ngValue]="8">8/Page</option>
                    <option [ngValue]="16">16/Page</option>
                </select>
            </div>
        </div>
    </div>
</div>