<div class="page-head">
  Line
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 p-md-0 mt-2">
      <div class=" border rounded">
        <line-form (create)="onCreate($event)" (update)="onUpdate($event)" (delete)="onDelete($event)"
          (selectChamber)="getFloorList($event)" [item]="line" [chamberList]="chamberList" [floorList]="floorList">
        </line-form>
      </div>
    </div>
    <div class="col-md-8 mt-2">
      <AppTable [columns]="columns" [data]="lineList" [tableName]="tableName" [sortColumn]="sortColumn"
        (btnEvent)="buttonEvent($event)"></AppTable>
    </div>
  </div>
</div>
