<form>
  <div class="row">
    <div class="col"></div>
    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-filter"></i></div>
        </div>
        <input type="text" class="form-control form-control-sm" id="search" (keyup)="onSearch($event.target.value)"
          placeholder="SR_no / Phone">
      </div>
    </div>
  </div>
</form>
<table class="table table-striped border table-sm">
  <thead>
    <tr>
      <td colspan="7" class="form-head">
        Pallot List
      </td>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SR</th>
      <th scope="col">Date</th>
      <th scope="col">Chamber</th>
      <th scope="col">Floor</th>
      <th scope="col">Line</th>
      <th scope="col">Pocket</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pallot of pallotPage;let i = index;">
      <th scope="row">{{ i+1 }}</th>
      <td> {{ pallot.sr_no }} </td>
      <td> {{ pallot.date.toMillis() | date:'dd/MM/yyyy' }} </td>
      <td> {{ pallot?.chamber?.name }}</td>
      <td>{{ pallot?.floor?.name }}</td>
      <td>{{ pallot?.line?.name }}</td>
      <td>{{ pallot?.pocket?.name }}
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="pallotList.length" [(page)]="page" [pageSize]="pageSize" size="sm"
    (pageChange)="refreshPallot()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshPallot()">
    <option [ngValue]="4">4/Page</option>
    <option [ngValue]="8">8/Page</option>
    <option [ngValue]="16">16/Page</option>
  </select>
</div>
