@import "../../../assets/theme.scss";

.navbar,
.nav-link,
.navbar-brand {
  display: block;
  padding: 0;
  // font-size: 15px;
}
.dropdown-toggle::after{
  display: none;
}
.navbar,
.nav-link{
  font-size: 14px;
}
.dropdown-item {
  font-size: 14px;
  padding: 0 8px;
  border-bottom: 1px solid $divider-color;
}
