:host {
  font-family: 'SolaimanLipi';
  display: block;
  background: #e0e0e0;
}

h3 {
  text-align: center;
}

.receipt {
  height: 8.5in;
  width: 50%;
  float: left;
  padding: 10px;
  // border: 1px solid black;
}

.output {
  height: 8.5in;
  width: 11in;
  // border: 1px solid red;
  position: absolute;
  top: 50px;
  left: 10px;
}

@media print {
  .output {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(900deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    top: 1.5in;
    left: -1.5in;
  }
}
