<div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4" *ngFor="let object of head_data">
        <div class="card widget-overview-box" [style.border-left-color]="object.background">
            <div>
                <span class="overview-icon" [ngStyle]="{'color':object.color, 'background':object.background}"><i class="fa"
                        [class]="object.icon" aria-hidden="true"></i></span>
                <span class="overview-title">{{object.label}}</span>
            </div>
            <div class="row overview-detail">
                <div class="col-6" *ngFor="let arr of object.values">
                    <div class="overview-number">{{arr.amount}}</div>
                    <div class="overview-subtext">{{arr.label}}</div>
                </div>
            </div>
        </div>        
    </div>
</div>