<div class="form-head">
    {{exists?'হালনাগাদ': 'নতুন'}} ইউজার
</div>
<div class="alert alert-danger" *ngIf="errorMessage.length>0">
    {{errorMessage}}
</div>
<form [formGroup]="form" (ngSubmit)="submit()" (mouseleave)="mouseoverShifting = false" class="p-3">
    <!-- Form Elements -->
    <reactive-input [fieldId]="'name'" [control]="form.get('name')"> </reactive-input>
    <reactive-input [fieldId]="'phone'" [control]="form.get('phone')"> </reactive-input>
    <reactive-input [fieldId]="'email'" [control]="form.get('email')"> </reactive-input>
    <reactive-input [fieldId]="'password'" [control]="form.get('password')"> </reactive-input>
    <reactive-select [fieldId]="'role'" [control]="form.get('role')" [options]="roleList"></reactive-select>

    <!-- Buttons -->
    <div class="d-flex flex-row-reverse bd-highlight">
        <span (mouseenter)="mouseoverShifting = true" (mouseleave)="mouseoverShifting = false">
            <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid">{{exists ?
                'আপডেট':'সেভ'}}</button>
        </span>
        <!-- <button type="button" *ngIf="exists" class="btn btn-sm btn-light mx-1" (click)="onDelete()">ডিলিট</button> -->
        <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">ক্লিয়ার</button>
    </div>

    <!-- Form validation error list -->
    <div *ngIf="mouseoverShifting" class="text-danger">
        <reactive-form-validation [form]="form"></reactive-form-validation>
    </div>
</form>