<div class="form-head">
  {{exists?'Update': 'New'}} Pocket
</div>
<div class="alert alert-danger" *ngIf="errorMessage.length>0">
  {{errorMessage}}
</div>

<form [formGroup]="form" (ngSubmit)="submit()" (mouseleave)="mouseoverShifting = false" class="p-3">
  <!-- Form Elements -->
  <reactive-select [fieldId]="'chamberId'" [control]="form.get('chamberId')" [options]="chamberList"
    (select)="onChamberChange($event)"></reactive-select>
  <reactive-select [fieldId]="'floorId'" [control]="form.get('floorId')" [options]="floorList"
    (select)="onFloorChange($event)"></reactive-select>
  <reactive-select [fieldId]="'lineId'" [control]="form.get('lineId')" [options]="lineList"></reactive-select>
  <reactive-input [fieldId]="'name'" [control]="form.get('name')">
  </reactive-input>
  <reactive-input [fieldId]="'capacity'" [control]="form.get('capacity')" [type]="'number'">
  </reactive-input>

  <!-- Buttons -->
  <div class="d-flex flex-row-reverse bd-highlight">
    <span (mouseenter)="mouseoverShifting = true" (mouseleave)="mouseoverShifting=false">
      <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid">{{exists ?
        'Update':'Save'}}</button>
    </span>
    <button type="button" *ngIf="exists" class="btn btn-sm btn-light mx-1" (click)="onDelete()">Delete</button>
    <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>
  </div>

  <!-- Form validation error list -->
  <div *ngIf="mouseoverShifting" class="text-danger">
    <reactive-form-validation [form]="form"></reactive-form-validation>
  </div>
</form>