<div class="form-head">
    {{exists?'হালনাগাদ': 'নতুন'}} লোডিং পার্টি
</div>
<div class="alert alert-danger" *ngIf="errorMessage.length>0">
    {{errorMessage}}
</div>
<form [formGroup]="form" (ngSubmit)="submit()" class="p-3">
    <!-- Form Elements -->
    <reactive-input [fieldId]="'name'" [control]="form.get('name')"> </reactive-input>
    <reactive-input [fieldId]="'father'" [control]="form.get('father')"> </reactive-input>
    <reactive-input [fieldId]="'phone'" [control]="form.get('phone')" [maxlength]="11"></reactive-input>
    <reactive-textarea [fieldId]="'address'" [control]="form.get('address')"> </reactive-textarea>

    <!-- Buttons -->
    <div class="d-flex flex-row-reverse bd-highlight">
        <span (mouseenter)="mouseoverShifting = true" (mouseleave)="mouseoverShifting = false">
            <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid">{{exists ?
                'Update':'Save'}}</button>
        </span>
        <button type="button" *ngIf="exists" class="btn btn-sm btn-light mx-1" (click)="onDelete()">Delete</button>
        <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>
    </div>

    <!-- Form validation error list -->
    <div *ngIf="mouseoverShifting" class="text-danger">
        <reactive-form-validation [form]="form"></reactive-form-validation>
    </div>
</form>