<div class="form-group row">
    <label [for]="fieldId" class="d-none d-sm-block col-sm-3 col-form-label col-form-label-sm">{{label}}</label>
    <div class="col-sm-9">
        <select class="form-control form-control-sm" [id]="fieldId" [formControl]="control" autocomplete="off" (change)="onChange($event)">
            <option value="">Select a {{label}}</option>
            <option *ngFor="let opt of options" [value]="opt._id">
                {{ opt.name }}
            </option>
        </select>
    </div>
</div>