<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card widget-overview-box widget-overview-box-1">
                <div>
                    <span class="overview-icon">
                        <i class="fa fa-print" aria-hidden="true"></i>
                    </span>
                    <span class="overview-title">Orders</span>
                </div>
                <div class="row overview-detail">
                    <div class="col-6">
                        <div class="overview-number">640</div>
                        <div class="overview-subtext">Pending</div>
                    </div>
                    <div class="col-6">
                        <div class="overview-number">1420</div>
                        <div class="overview-subtext">Completed</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card widget-overview-box widget-overview-box-2">
                <div>
                    <span class="overview-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                    <span class="overview-title">Revenue</span>
                </div>
                <div class="row overview-detail">
                    <div class="col-6">
                        <div class="overview-number">$2,100</div>
                        <div class="overview-subtext">Expenses</div>
                    </div>
                    <div class="col-6">
                        <div class="overview-number">$9,640</div>
                        <div class="overview-subtext">Income</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card widget-overview-box widget-overview-box-3">
                <div>
                    <span class="overview-icon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <span class="overview-title">Customers</span>
                </div>
                <div class="row overview-detail">
                    <div class="col-6">
                        <div class="overview-number">8272</div>
                        <div class="overview-subtext">Active</div>
                    </div>
                    <div class="col-6">
                        <div class="overview-number">25402</div>
                        <div class="overview-subtext">Registered</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card widget-overview-box widget-overview-box-4">
                <div>
                    <span class="overview-icon"><i class="fa fa-truck" aria-hidden="true"></i></span>
                    <span class="overview-title">Delivery</span>
                </div>
                <div class="row overview-detail">
                    <div class="col-6">
                        <div class="overview-number">12</div>
                        <div class="overview-subtext">New</div>
                    </div>
                    <div class="col-6">
                        <div class="overview-number">85</div>
                        <div class="overview-subtext">Responded</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
            <div class="card widget-overview-box ">
                <div>
                    <span class="overview-icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                    <span class="overview-title">Quick Links</span>
                </div>
                <div class="list-group">
                    <ng-container *ngFor="let li of quickLinks">
                        <a class="list-group-item list-group-item-action" [routerLink]="li.url">
                            {{li.name}}
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>