<div class="form-head">
    New Floor
</div>
<div class="alert alert-danger" *ngIf="errorMessage.length>0">
    {{errorMessage}}
</div>

<form [formGroup]="form" (ngSubmit)="submit()" (mouseleave)="mouseoverShifting = false" class="p-3">
    <div class="form-group row">
        <label for="chamber" class="col-sm-2 col-form-label col-form-label-sm">Floor</label>
        <div class="col-sm-10">
            <select class="form-control" id="chamber" formControlName="chamber">
                <option value="">Select a chamber</option>
                <option *ngFor="let chamber of chamberList" [ngValue]="chamber">
                    {{ chamber.name }}
                </option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="name" formControlName="name"
                placeholder="Floor Name">
            <small id="nameHelp" class="form-text text-danger"
                *ngIf="form.controls.name.errors && form.controls.name.touched">Floor Name Required</small>
        </div>
    </div>

    <div class="form-group row">
        <label for="capacity" class="col-sm-2 col-form-label col-form-label-sm">Capacity</label>
        <div class="col-sm-10">
            <input type="number" class="form-control form-control-sm" id="capacity" formControlName="capacity"
                placeholder="Floor capacity">
            <small id="nameHelp" class="form-text text-danger"
                *ngIf="form.controls.capacity.errors && form.controls.capacity.touched">Floor capacity
                required</small>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>

            <button type="button" *ngIf="exists" class="btn btn-sm btn-light mx-1" (click)="onDelete()">Delete</button>

            <button type="submit" (mouseenter)="mouseoverShifting = true" class="btn btn-sm btn-light mx-1">{{exists ?
                'Update':'Save'}}</button>
        </div>
    </div>
    <div *ngIf="mouseoverShifting" class="text-danger">
        {{ getFormValidationErrors() }}
    </div>
</form>