<div class="page-head">
  ইউজার
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 p-md-0 mt-2">
      <div class=" border rounded">
        <user-form (create)="onCreate($event)" (update)="onUpdate($event)" (delete)="onDelete($event)" [item]="user"
          [roleList]="roleList"></user-form>
      </div>
    </div>
    <div class="col-md-8 mt-2">
      <ng-container *ngIf="userPage?.docs">
        <user-table [userPage]="userPage" (refresh)="refreshData($event)" (edit)="onEdit($event)"></user-table>
      </ng-container>      
    </div>
  </div>
</div>