<nav class="navbar navbar-expand-md navbar-dark bg-primary-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="toggleCollapse()" routerLink="/">UNOLO Ltd.</a>
        <button class="navbar-toggler" (click)="toggleCollapse()" type="button" data-bs-toggle="collapse"
            data-bs-target="#homeNabBar" aria-controls="homeNabBar" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="homeNabBar" [class.show]="show">
            <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                <li class="nav-item " *ngIf="isAuthenticated()">
                    <a class="nav-link" (click)="toggleCollapse()" routerLink="/dashboard">Dashboard</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-md-0">
                <li class="nav-item " *ngIf="!isAuthenticated()">
                    <a class="nav-link" (click)="toggleCollapse()" routerLink="/login">Login</a>
                </li>
                <li class="nav-item " *ngIf="isAuthenticated()">
                    <a class="nav-link" (click)="toggleCollapse(); logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>