<div class="page-head">
  Pallot
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 p-md-0 mt-2">
      <div class=" border rounded">
        <pallot-form (create)="onCreate($event)" (update)="onUpdate($event)" (delete)="onDelete($event)"
          (selectChamber)="getFloorList($event)" (selectFloor)="getLineList($event)"
          (selectLine)="getPocketList($event)" [pallot]="pallot" [chamberList]="chamberList" [floorList]="floorList"
          [lineList]="lineList" [pocketList]="pocketList"></pallot-form>
      </div>
    </div>
    <div class="col-md-8 mt-2">
      <pallot-list [pallotList]="pallotList"></pallot-list>
    </div>
  </div>
</div>
