<div class="page-head">
  Loading Party
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 p-md-0 mt-2">
      <div class=" border rounded">
        <customer-form (create)="onCreate($event)" (update)="onUpdate($event)" (delete)="onDelete($event)"
          [item]="customer"></customer-form>
      </div>
    </div>
    <div class="col-md-8 mt-2">
      <customer-list [customerList]="customerList" [short]="false" (edit)="onEdit($event)"></customer-list>
    </div>
  </div>
</div>
