<div class="form-head">
  {{exists?'হালনাগাদ': 'নতুন'}} ইনভেন্টরি
</div>

<div class="alert alert-danger" *ngIf="errorMessage.length>0">
  {{errorMessage}}
</div>

<form [formGroup]="form" (ngSubmit)="submit()" class="p-3">
  <!-- Form Elements -->
  <div class="row">
    <div class="col-md-6">
      <reactive-input [fieldId]="'year'" [control]="form.get('year')" [type]="'number'" [readonly]="true" [col]="true">
      </reactive-input>
      <reactive-input [fieldId]="'vouchar_no'" [control]="form.get('vouchar_no')" [readonly]="true" [col]="true">
      </reactive-input>
    </div>
    <div class="col-md-6">
      <reactive-input [fieldId]="'sr_no'" [control]="form.get('sr_no')" [readonly]="true" [col]="true">
      </reactive-input>
      <reactive-date-picker [fieldId]="'date'" [control]="form.get('date')" [col]="true"></reactive-date-picker>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <reactive-input [fieldId]="'quantity'" [control]="form.get('quantity')" [type]="'number'"
        (onChange)="onQuanityChange($event)" [col]="true">
      </reactive-input>
    </div>

  </div>

  <div class="pt-2">মজুতকারীর তথ্য </div>
  <div class="row">
    <div class="col-md-6">
      <reactive-input [fieldId]="'customerPhone'" [maxlength]="11" [control]="form.get('customerPhone')" [col]="true"
        (onChange)="onPhoneChange($event)"></reactive-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <reactive-input [fieldId]="'customerName'" [control]="form.get('customerName')" [col]="true">
      </reactive-input>
    </div>
    <div class="col-md-6">
      <reactive-input [fieldId]="'customerFather'" [control]="form.get('customerFather')" [col]="true">
      </reactive-input>
    </div>

  </div>
  <div class="row">    
    <div class="col-12">
      <reactive-textarea [fieldId]="'customerAddress'" [control]="form.get('customerAddress')" [col]="true">
      </reactive-textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <reactive-input-typeahed [fieldId]="'agent'" [control]="form.get('agent')" [itemList]="agentList" [col]="true" [searchPath]="searchPath">
      </reactive-input-typeahed>
    </div>
  </div>

  <!-- Buttons -->
  <div class="d-flex flex-row-reverse bd-highlight">
    <span (mouseenter)="mouseoverShifting = true" (mouseleave)="mouseoverShifting = false">
      <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid">{{exists ?
        'Update':'Save'}}</button>
    </span>
    <!-- <button type="button" *ngIf="exists" class="btn btn-sm btn-light mx-1" (click)="onDelete()">Delete</button> -->
    <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>
  </div>

  <!-- Form validation error list -->
  <div *ngIf="mouseoverShifting" class="text-danger">
    <reactive-form-validation [form]="form"></reactive-form-validation>
  </div>
</form>