<div class="form-head">
  {{exists?'Update': 'New'}} Inventory
</div>

<div class="alert alert-danger" *ngIf="errorMessage.length>0">
  {{errorMessage}}
</div>

<form [formGroup]="form" (ngSubmit)="submit()" class="p-3">
  <!-- Form Elements -->
  <reactive-input [fieldId]="'vouchar_no'" [control]="form.get('vouchar_no')" [readonly]="true"> </reactive-input>
  <reactive-input [fieldId]="'name'" [control]="form.get('name')" [readonly]="true"> </reactive-input>
  <reactive-select [fieldId]="'inventoryType'" [control]="form.get('inventoryType')" [options]="typeList">
  </reactive-select>
  <reactive-input [fieldId]="'year'" [control]="form.get('year')" [type]="'number'"> </reactive-input>
  <reactive-date-picker [fieldId]="'date'" [control]="form.get('date')"></reactive-date-picker>
  <reactive-input [fieldId]="'sr_no'" [control]="form.get('sr_no')"> </reactive-input>
  <reactive-input-typeahed [fieldId]="'customer'" [control]="form.get('customer')" [itemList]="customerList">
  </reactive-input-typeahed>
  <reactive-input-typeahed [fieldId]="'agent'" [control]="form.get('agent')" [itemList]="agentList">
  </reactive-input-typeahed>
  <reactive-input [fieldId]="'quantity'" [control]="form.get('quantity')" [type]="'number'"> </reactive-input>

  <!-- Buttons -->
  <div class="d-flex flex-row-reverse bd-highlight">
    <span (mouseenter)="mouseoverShifting = true" (mouseleave)="mouseoverShifting = false" >
      <button type="submit" class="btn btn-sm btn-light mx-1" [disabled]="!form.valid">{{exists ?
        'Update':'Save'}}</button>
    </span>
    <!-- <button type="button" *ngIf="exists" class="btn btn-sm btn-light mx-1" (click)="onDelete()">Delete</button> -->
    <button type="button" class="btn btn-sm btn-light mx-1" (click)="clean()">Clear</button>
  </div>

  <!-- Form validation error list -->
  <div *ngIf="mouseoverShifting" class="text-danger">
    <reactive-form-validation [form]="form"></reactive-form-validation>
  </div>  
</form>