$left-side-width: 220 + px;

$primary-color-dark: #1b2445;
$primary-color: #f40;
$primary-color-light: #253364;
$primary-color-text: #f4f4f4;
$primary-text-color: #2d3f47;
$accent-color: #f7a71a;
$web-color: #3f87c7;
$secondary-text-color: #a6a6a6;
$divider-color: #eaeaea;
$page-background: #f8f9fa;

