/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.min.css";
@import "./assets/theme.scss";

/* Importing Bootstrap SCSS file. */
$print-page-size: auto !important;

@font-face {
  font-family: 'SolaimanLipi';
  src: url('assets/fonts/SolaimanLipi.ttf');
}


.bg-primary-dark {
  background-color: $primary-color-dark !important;
}

.page-head {
  font-size: 25px;
  line-height: 29px;
  padding: 5px;
  border-bottom: 1px solid $accent-color;
}

.edit_link {
  columns: $primary-text-color;
  text-decoration: none;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 3px;
  color: $primary-color-light;
  border: 1px solid gray;

  &:hover {
    text-decoration: none;
    background-color: $secondary-text-color;
    color: $primary-color-text;
  }
}

td.form-head,
.form-head {
  width: inherit;
  font-size: 20px !important;
  line-height: 22px;
  padding: 5px;
  background-color: $divider-color;

  &-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
  }
}

th,
td {
  font-size: 0.875rem;
}

.form-group {
  margin-bottom: 2px;
}

.form-control-sm {
  height: calc(1em + 0.75rem + 2px);
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 0.25rem;
}

.input-group-text {
  padding: 0.2rem 0.75rem;
}
