/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.min.css";
@import "./assets/theme.scss";

/* Importing Bootstrap SCSS file. */

.bg-primary-dark {
  background-color: $primary-color-dark !important;
}

.page-head {
  font-size: 25px;
  line-height: 29px;
  padding: 5px;
  border-bottom: 1px solid $accent-color;
}

.edit_link {
  columns: $primary-text-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}

.form-head {
  width: inherit;
  font-size: 20px;
  line-height: 22px;
  padding: 5px;
  background-color: $divider-color;
}
