:host {
  background-color: #f0f2f5;
  display: block;
  min-height: calc(100vh - 30px);
}
td,
th {
  font-family: "SolaimanLipi";
}

.container {
  background-color: white;
}

td {
  padding: 15px;
}

@page {
  size: A4;
  margin: 0;
  padding: 15px;
}

@media print {
  @page {
    size: A4;
    padding: 15px;
  }
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
